.bat-button {
  position: relative;
  background: url('../assets/bat.png') no-repeat center;
  background-size: 50px 50px;
  color: white;
  font-weight: bold;
  padding: 10px 60px; 
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-shadow: 0 0 5px red;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
  display: inline-block;
}

.bat-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px red;
}

.bat-button.clicked {
  transform: scale(0); 
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
